# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- SQL (Structured Query Language)
- R
- Julia.
- JavaScript.
- Scala.
- Java.

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. plotly
3. ggplot
4. pandas
5. scipy
6. pytorch
7. seaborn

|Data Science Tools|
|------------------|
|Jupyter notebook|
|R studio|
|Apache spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Ananya P S